<!DOCTYPE html>
  <head>
  	<title>MotherArth</title>
    <meta name="description" content="">
	<meta name="keywords" content="" />

	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/templatemo_misc.css">
	<link rel="stylesheet" href="css/templatemo_style.css">
    <!-- JavaScripts -->
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery.singlePageNav.js"></script>
	<script src="js/jquery.flexslider.js"></script>

	<script src="js/custom.js"></script>
     <script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery.lightbox.js"></script>
	<script src="js/templatemo_custom.js"></script>
    <script src="js/jquery-git2.js"></script><!-- previous next script -->
  </head>
  <body>
  <!-- title start -->
  	 <% include partials/head %>
  <!-- title end -->
 <% include partials/header %>

    <div id="menu-container">

	<div class="divs">
<!-- homepage start -->
 <% include pages/homepage %>
<!-- homepage end -->

<!-- service start -->
 <% include pages/service %>
<!-- service end -->

<!-- portfolio start -->
 <% include pages/portfolio %>
<!-- portfolio end -->

<!-- portfolio start -->
 <% include pages/contact %>
<!-- portfolio end -->

	</div>
</div>
	<!-- footer start -->
   <% include partials/footer %>
    <!-- footer end -->

  </body>
</html>
